@font-face {
    font-family: 'PFEncoreSansPro-UltraBlackItalic';
    src: url('../fonts/PFEncoreSansPro-UltraBlackItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-UltraThin';
    src: url('../fonts/PFEncoreSansPro-UltraThin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-UltraBlack';
    src: url('../fonts/PFEncoreSansPro-UltraBlack.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Thin';
    src: url('../fonts/PFEncoreSansPro-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Medium';
    src: url('../fonts/PFEncoreSansPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-MediumItalic';
    src: url('../fonts/PFEncoreSansPro-MediumItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Regular';
    src: url('../fonts/PFEncoreSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-ThinItalic';
    src: url('../fonts/PFEncoreSansPro-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Italic';
    src: url('../fonts/PFEncoreSansPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-LightItalic';
    src: url('../fonts/PFEncoreSansPro-LightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-ExtraThinItalic';
    src: url('../fonts/PFEncoreSansPro-ExtraThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Light';
    src: url('../fonts/PFEncoreSansPro-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-ExtraThin';
    src: url('../fonts/PFEncoreSansPro-ExtraThin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-BoldItalic';
    src: url('../fonts/PFEncoreSansPro-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-BookItalic';
    src: url('../fonts/PFEncoreSansPro-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Book';
    src: url('../fonts/PFEncoreSansPro-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Bold';
    src: url('../fonts/PFEncoreSansPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-Black';
    src: url('../fonts/PFEncoreSansPro-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFEncoreSansPro-BlackItalic';
    src: url('../fonts/PFEncoreSansPro-BlackItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-ExtraThinItalic';
    src: url('../fonts/PFBagueSansPro-ExtraThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Thin';
    src: url('../fonts/PFBagueSansPro-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-BoldItalic';
    src: url('../fonts/PFBagueSansPro-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-UltraBlack';
    src: url('../fonts/PFBagueSansPro-UltraBlack.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-LightItalic';
    src: url('../fonts/PFBagueSansPro-LightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Medium';
    src: url('../fonts/PFBagueSansPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-ExtraThin';
    src: url('../fonts/PFBagueSansPro-ExtraThin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Light';
    src: url('../fonts/PFBagueSansPro-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-MediumItalic';
    src: url('../fonts/PFBagueSansPro-MediumItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-UltraBlackItalic';
    src: url('../fonts/PFBagueSansPro-UltraBlackItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-BlackItalic';
    src: url('../fonts/PFBagueSansPro-BlackItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro';
    src: url('../fonts/PFBagueSansPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Black';
    src: url('../fonts/PFBagueSansPro-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Italic';
    src: url('../fonts/PFBagueSansPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-ThinItalic';
    src: url('../fonts/PFBagueSansPro-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFBagueSansPro-Bold';
    src: url('../fonts/PFBagueSansPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

