section {
   @include make-container();

    &.featured {    
            padding: 1rem 0 0rem 0;
            background:
                linear-gradient(0deg, rgb(255 255 255 / 1) 0%, rgb(255 255 255 / 1) 100%) 0% 99.13% / 100% 60% no-repeat no-repeat, /* New Background */
                linear-gradient(0deg, rgb(255 230 0 / 1) 0%, rgb(255 230 0 / 1) 100%) 0% 0% / 99.8% 78.4% repeat no-repeat; /* New Background */          
            
            @include media-breakpoint-up(xl) {
                padding: 3rem 0 0rem 0;
                background:
                linear-gradient(0deg, rgb(255 255 255 / 1) 0%, rgb(255 255 255 / 1) 100%) 0% 99.13% / 100% 40% no-repeat no-repeat, /* New Background */
                linear-gradient(0deg, rgb(255 230 0 / 1) 0%, rgb(255 230 0 / 1) 100%) 0% 0% / 99.8% 40% repeat no-repeat; /* New Background */          

            } 

            & .featured_wrapper {
                @include make-container();
               // margin-top: 6rem;
                @extend .p-0;
                
                @include media-breakpoint-up(lg) {
                    margin-top: 3rem;
                } 
                
                @include media-breakpoint-up(xl) {
                    margin-top: 0rem;
                } 
                
                    & .slogan_1 {
                    @include make-col-ready();

                    @include media-breakpoint-up(sm) {
                        @include make-col(12);
                    }
                    @include media-breakpoint-up(lg) {
                        @include make-col(12);
                    }

                    @extend .d-flex;
                  //  @extend .flex-column;
                    @extend .justify-content-start;
                    @extend .align-items-end;
                    @extend .test;
                    }
                  
                    & .slogan {
                        @include make-col-ready();
                        @include make-col(12);

                        @extend .p-0;
                        @extend .d-flex;
                        @extend .flex-column;
                        @extend .justify-content-between;
                        align-items: center;

                        @include media-breakpoint-up(md) {
                            align-items: start;
                          }


                        & h2 {

                          }


                    }

                    & .featured_slider {
                    @include make-col-ready();

                    @include make-col(12);
                    @extend .pt-2;
                    @extend .pb-0;
                    @extend .ps-0;
                    @extend .pe-0;

                    @include media-breakpoint-up(lg) {
                      top: -6rem;
                    }

                     @include media-breakpoint-up(xxl) {
                        position: relative;
                      top: -11rem;
                    }
                    }

                    & .buttons {
                        @include make-container();
                        max-width: 1440px;
                        position: relative;
                        top: -14rem;
                        text-align: center;
                        


                        @include media-breakpoint-up(sm) {
                            top: -20rem;
                            text-align: left;
                        }

                        & button {
                            margin: .5rem 1rem 0 1rem;
                            @include media-breakpoint-up(sm) {
                                margin: 0 1rem 0 0rem;                           
                            }

                            &.allproducts {
                                @extend .btn;
                                @extend .btn-lg;
                                @extend .btn-primary;
                            }

                            &.saleproducts {
                                @extend .btn;
                               // @extend .btn-lg;
                                @extend .btn-secondary;
                            }
                        }
                    }   
              }
          


    }
    &.marketing {
        max-width: 1440px;
        @extend .py-5;

        & .newsletter {
                @include make-col-ready();

                @include media-breakpoint-up(sm) {
                    @include make-col(12);
                }
                @include media-breakpoint-up(md) {
                    @include make-col(6);
                }

                @extend .text-center;

                    & .gform_wrapper {
                        @extend .w-75;
                        @extend .mx-auto;

                        & label {
                            display: none;
                        }
                    }
        }

    }
    &.main_cats {
                @include make-container();
               // max-width: 1400px;
                z-index: 99999;
                background: $third;
                   @extend .mb-3;
                   
                & nav {
                    @include make-row();

                    & .navbar-collapse {
                        @extend .w-100;

                        & div {
                            @extend .w-100;

                            & ul {
                                @extend .w-100;
                                @extend .justify-content-between;

                                & li {
                                    @extend .p-5;
                                }
                            }
                        }
                    }
                }

                & .cat_menu_wrapper {
                    @include make-container();
                    max-width: 1440px;
                    @extend .d-flex;
                    overflow-x: auto;
                    background: $white;
                 
                     @include media-breakpoint-up(sm) {
                        
                    }
                 

                    & .facetwp-facet {
                       @extend .d-flex;
                        @extend .px-0;
                        @extend .py-0;
                        @extend .justify-content-between;
                        @extend .flex-nowrap;
                        
                       
                        @extend .flex-grow-1;

                        & .facetwp-radio {
                            @extend .px-3;
                            @extend .d-flex;
                            @extend .justify-content-center;
                            @extend .align-items-center;
                            @extend .flex-fill;
                            @extend .text-center;
                           background: $third;
                           margin: 0rem .12rem;

                            @include media-breakpoint-up(lg) {
                              //  width: 16%;
                            }

                            &.disabled {
                                opacity: .5;
                            }


                                & .facetwp-display-value {
                                    color: black;
                                    font-family: 'PFBagueSansPro-Light';
                                    letter-spacing: .02rem;
                                    @extend .d-flex;
                                    @extend .flex-column;
                                    @extend .justify-content-center;

                                    & .cat_image {
                                          margin: 1rem 0 0 0;
                                    }

                                     & .cat_name {
                                        padding: 1.25rem 0 1.25rem 0;
                                    }

                                }


                            &.checked {
                                background:  $white;
                                //border: 2px solid $secondary;



                                & .cat_image {
                                 //   background: $white;
                                    border-radius: 999px;
                                    background: white;
                                }

                                & .cat_name {
                                  //  color: $white;
                                }
                            }

                            & img {
                                width: 60px;
                                @extend .pb-2;
                            }

                            & h2 {
                                font-size: 1.1rem;    
                                @extend .m-0;              
                            }

                            & .facetwp-counter {
                                display: none;
                            }
                        }
                    }
                }
            }

    &.shop_controls {
        max-width: 1440px;
    }
    &.shop {
        max-width: 1440px;

        & .viewshort {
            @include make-row;

            & .views {
                @include make-col-ready();
                @include make-col(6);

                @extend .px-4;
                @extend .test;

                & button {
                    @extend .btn;
                    @extend .btn-primary;
                    @extend .btn-sm;
                }
            }
        }
    }

    &.controls {
        max-width: 1440px;
    }
}